<div class="shoppingList">
    <div class="inputBox">
        <label id="itemInputLabel" for="addItem"> Add your items  </label>
        <br>
        <br>
        <input id="labelInput" [(ngModel)]="newItem" type="text" (keyup.enter)="addItem()">
    </div>
   
    <!-- <p *ngIf="items?.length == 0">
    Your list is empty (thank god)
    </p> -->

    <!-- <div class="listDiv"> -->
        <ul id="itemsList">
            <li *ngFor="let item of items" >
                <input type="checkbox" id="checkbox" (change)="saveCheckedValue($event, item.id)">
                <label style="text-transform: capitalize;" for="checkbox"> {{item.label}} </label>
            </li> 
        </ul>
    <!-- </div> -->
    




    <button id="buttonStyle" (click)="deleteCheckedItems()">
        Delete checked items
    </button>
</div>

<!-- Perserve items on refresh -->